
:root {
  --backgroundColor: #fff;
  --textColor: blue;
  --buttonColor: lightgrey;
  --buttonText: #135427;
}

[data-theme="dark"] {
  --backgroundColor: #000;
  --textColor: rgb(255, 255, 255);
  --buttonColor: grey;
  --buttonText: #7d93f7;
}

body{
  background-color: var(--backgroundColor);
  color: var(--textColor);
  background-color: rgb(226, 255, 183);
  font-family: "Karla";
}

#quiz-container{
  margin-top:1%;
  max-width: 500px;
  margin:auto;
  padding-top: 10px;
  padding:20px;
  text-align: center;

 
}

h1 {
  opacity:0.5;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 3px 3px;
  font-style: italic;
  font-size: 32px;
  border-bottom: solid 2px #797979a4;
  border-top: solid 2px #797979a4;
  font-weight: 500;
}

.shrug {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: #750000;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 3px 3px;
}

legend {
  text-align: left;
}

fieldset {
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px 1px;
}

.question-div {
  display:none;
}

/* .popup-div{
  max-width: 400px;
  margin:auto;
  position:fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.364);
} */

#h3-perhaps {
  font-size: 3px;
  opacity:0.15;
  display:none;
}

#quiz-container h2 {
  font-weight:500;
  font-style: italic;
  font-size: 18px;  
  line-height:0cap;
  color: #57575798;
}

#quiz-container h3 {
  line-height:2cap;
  color: #57575798;
  font-weight: normal;
  font-style: italic;
  font-size: 15px;  
}

.popup-div {
  width: 60%;
  height: 50%;
  margin: auto;
  position: fixed;
  top: 30%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.849);
  color: #053600e1;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
  z-index: 1001; /* Make sure the popup div is on top */
}

#quiz-results {
  width: 70%;
  height: 50%;
  margin:auto;  
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:20px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0, 0.5) 0px 4px 6px;

  position:fixed;
  z-index: 1000;
  flex-direction: column;
  text-align: center;
  color: #000000;
  background-color: rgba(177, 185, 255, 0.822);

  h2{
     font-size: 36px;
     
  }



  .results-p:last-child {
    font-size: 25px;
    background-color: #fff;
    border-radius: 5px;
  }
}

#submit-btn button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
